* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(153, 149, 149);
}

h1 {
  text-transform: uppercase;
}

span {
  color: red;
  margin-top: 25px;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
  list-style: none;
  color: white;
}

/*  ----- Header ---------*/

.head {
  width: 100%;
  height: 80vh;
  background: url(./img/picture.jpg) no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

#show-desktop {
  position: absolute;
  top: 0;
  left: 0;
  color: #ce404c;
}

#show-desktop i {
  font-size: 35px;
}

.head-left {
  position: absolute;
  width: 25vw;
  left: -100%;
  height: 80%;
  background-color: #2d3e4e;
}

.head-top {
  display: none;
}

#menu {
  display: none;
}

.h1-color {
  color: #ce404c;
}

.flex-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
}

.btn {
  padding: 13px 20px;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.btn-color {
  padding: 13px 20px;
  background: #ce404c;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
.head-center {
  margin-top: 29px;
  margin-bottom: 29px;
}

/*  ----- Article ---------*/
.article {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-bottom: 15px;
  height: max-content;
}

.head-center {
  text-align: center;
}

.flex-items {
  display: flex;
  margin-top: 20px;
}

/*  ----- Bannier ---------*/
.bannier {
  width: 100%;
  height: max-content;
  background-color: #ce404c;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-bannier {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.flex-bannier {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*  ----- Card ---------*/
.card {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.grid-card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 6px;
}

/*  ----- Contact ---------*/

.contact {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 5px;
}

.formulaire {
  width: 100%;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.flex-left {
  width: 50%;
  margin-right: 10px;
}

.flex-left input {
  width: 100%;
}

.flex-right {
  width: 50%;
}

.flex-right input {
  width: 100%;
}

.txt-area textarea {
  width: 100%;
}

.btn-width {
  width: 100%;
  background: #ce404c;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 15px;
}

/*  ----- Footer ---------*/

.footer {
  width: 100%;
  height: max-content;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c8c8c8;
  text-align: center;
}

/*  ----- Media Query ---------*/

@media screen and (max-width: 687px) {
  #show-desktop {
    display: none;
  }

  .head-top {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: max-content;
    background-color: #2d3e4e;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #menu {
    display: flex;
    width: 100%;
    position: absolute;
    top: -100px;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    background-color: #2b5985;
    height: max-content;
  }

  .flex-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /*#menu {
    display: none;
  }
  */

  .head-left {
    display: none;
  }

  .flex-items {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .flex-bannier {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact {
    width: 100%;
  }

  .form-group {
    flex-direction: column;
  }

  .flex-left {
    width: 100%;
  }

  .flex-right {
    width: 100%;
  }
}
